<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meadowlark Travel</title>
    <style>
      headers img { width: 500px; }
    </style>
  </head>
  <body>
    <headers>
      <img src="/img/armenia.jpg" alt="mountion of Armenia" />
    </headers>
    {{{body}}}
  </body>
</html>